# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
.DS_Store
redis/
match/match
match/sld1.2.json
ssdb/auth/log.txt
ssdb/auth/var/
ssdb/match/log.txt
ssdb/match/var/
robot/robot
henyouqian@173.255.215.104
match/bak/